In [1]:
print("hello")

hello

In [3]:
from nba_api.stats.static import players
players.find_players_by_first_name('nikola')

[{'id': 203999,
  'full_name': 'Nikola Jokić',
  'first_name': 'Nikola',
  'last_name': 'Jokić',
  'is_active': True},
 {'id': 1631107,
  'full_name': 'Nikola Jović',
  'first_name': 'Nikola',
  'last_name': 'Jović',
  'is_active': True},
 {'id': 202703,
  'full_name': 'Nikola Mirotic',
  'first_name': 'Nikola',
  'last_name': 'Mirotic',
  'is_active': False},
 {'id': 201593,
  'full_name': 'Nikola Pekovic',
  'first_name': 'Nikola',
  'last_name': 'Pekovic',
  'is_active': False},
 {'id': 1642260,
  'full_name': 'Nikola Topić',
  'first_name': 'Nikola',
  'last_name': 'Topić',
  'is_active': True},
 {'id': 202696,
  'full_name': 'Nikola Vučević',
  'first_name': 'Nikola',
  'last_name': 'Vučević',
  'is_active': True}]

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://basketball.realgm.com/nba/allstar/game/rosters/2024"

# Get the page content
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table (you may need to inspect the HTML to get the right selector)
table = soup.find('table')  # or use more specific selectors

# Convert to DataFrame
df = pd.read_html(str(table))[0]

print(df.head())

                  Player Pos    HT   WT             Team  \
0            Bam Adebayo   C   6-9  255       Miami Heat
1  Giannis Antetokounmpo   F  6-11  243  Milwaukee Bucks
2         Paolo Banchero   C  6-10  250    Orlando Magic
3         Scottie Barnes  SF   6-7  237  Toronto Raptors
4           Jaylen Brown  SF   6-6  223   Boston Celtics

                           Selection Type    NBA Draft Status  \
0      Eastern All-Star Coaches Selection  2017 Rnd 1 Pick 14
1     Eastern All-Star Fan Vote Selection  2013 Rnd 1 Pick 15
2      Eastern All-Star Coaches Selection   2022 Rnd 1 Pick 1
3  Eastern All-Star Replacement Selection   2021 Rnd 1 Pick 4
4      Eastern All-Star Coaches Selection   2016 Rnd 1 Pick 3

           Nationality
0        United States
1       Greece Nigeria
2  United States Italy
3        United States
4        United States

/tmp/ipykernel_6869/55887494.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [7]:
df

,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,Bam Adebayo,C,6-9,255,Miami Heat,Eastern All-Star Coaches Selection,2017 Rnd 1 Pick 14,United States
1,Giannis Antetokounmpo,F,6-11,243,Milwaukee Bucks,Eastern All-Star Fan Vote Selection,2013 Rnd 1 Pick 15,Greece Nigeria
2,Paolo Banchero,C,6-10,250,Orlando Magic,Eastern All-Star Coaches Selection,2022 Rnd 1 Pick 1,United States Italy
3,Scottie Barnes,SF,6-7,237,Toronto Raptors,Eastern All-Star Replacement Selection,2021 Rnd 1 Pick 4,United States
4,Jaylen Brown,SF,6-6,223,Boston Celtics,Eastern All-Star Coaches Selection,2016 Rnd 1 Pick 3,United States
5,Jalen Brunson,PG,6-2,190,New York Knicks,Eastern All-Star Coaches Selection,2018 Rnd 2 Pick 3,United States
6,Joel Embiid,C,7-0,280,Philadelphia Sixers,Eastern All-Star Fan Vote Selection,2014 Rnd 1 Pick 3,Cameroon United States
7,Tyrese Haliburton,PG,6-5,185,Indiana Pacers,Eastern All-Star Fan Vote Selection,2020 Rnd 1 Pick 12,United States
8,Damian Lillard,G,6-2,195,Milwaukee Bucks,Eastern All-Star Fan Vote Selection,2012 Rnd 1 Pick 6,United States
9,Tyrese Maxey,PG,6-2,200,Philadelphia Sixers,Eastern All-Star Coaches Selection,2020 Rnd 1 Pick 21,United States
10,Donovan Mitchell,SG,6-3,215,Cleveland Cavaliers,Eastern All-Star Coaches Selection,2017 Rnd 1 Pick 13,United States
11,Julius Randle,PF,6-9,250,New York Knicks,Eastern All-Star Coaches Selection,2014 Rnd 1 Pick 7,United States
12,Jayson Tatum,SF,6-8,210,Boston Celtics,Eastern All-Star Fan Vote Selection,2017 Rnd 1 Pick 3,United States
13,Trae Young,PG,6-1,164,Atlanta Hawks,Eastern All-Star Replacement Selection,2018 Rnd 1 Pick 5,United States

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://basketball.realgm.com/nba/allstar/game/rosters/2024"

# Get the page content
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Find tables with the specific Bootstrap classes
tables = soup.find_all('table', class_='table table-striped table-hover table-bordered table-compact table-nowrap')

print(f"Found {len(tables)} Bootstrap tables")

# Get the third Bootstrap table (the combined roster table)
if len(tables) >= 3:
    third_table = tables[2]
    
    # Convert to DataFrame
    df = pd.read_html(str(third_table))[0]

Found 3 Bootstrap tables

/tmp/ipykernel_6869/1255533695.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(third_table))[0]

In [15]:
df['Year'] = 2024

In [16]:
df[['Player','Team','Year']]

                     Player                    Team  Year
0               Bam Adebayo              Miami Heat  2024
1     Giannis Antetokounmpo         Milwaukee Bucks  2024
2            Paolo Banchero           Orlando Magic  2024
3            Scottie Barnes         Toronto Raptors  2024
4              Devin Booker            Phoenix Suns  2024
5              Jaylen Brown          Boston Celtics  2024
6             Jalen Brunson         New York Knicks  2024
7             Stephen Curry   Golden State Warriors  2024
8             Anthony Davis      Los Angeles Lakers  2024
9               Luka Doncic        Dallas Mavericks  2024
10             Kevin Durant            Phoenix Suns  2024
11          Anthony Edwards  Minnesota Timberwolves  2024
12              Joel Embiid     Philadelphia Sixers  2024
13              Paul George    Los Angeles Clippers  2024
14  Shai Gilgeous-Alexander   Oklahoma City Thunder  2024
15        Tyrese Haliburton          Indiana Pacers  2024
16             LeBron James      Los Angeles Lakers  2024
17             Nikola Jokic          Denver Nuggets  2024
18            Kawhi Leonard    Los Angeles Clippers  2024
19           Damian Lillard         Milwaukee Bucks  2024
20             Tyrese Maxey     Philadelphia Sixers  2024
21         Donovan Mitchell     Cleveland Cavaliers  2024
22            Julius Randle         New York Knicks  2024
23             Jayson Tatum          Boston Celtics  2024
24       Karl-Anthony Towns  Minnesota Timberwolves  2024
25               Trae Young           Atlanta Hawks  2024

In [18]:
from nba_api.stats.static import teams

# Get list of all NBA teams
nba_teams = teams.get_teams()

# Each team is a dict with keys like:
# 'id', 'full_name', 'abbreviation', 'nickname', 'city', 'state', 'year_founded'
for team in nba_teams:
    print(team['abbreviation'])

ATL
BOS
CLE
NOP
CHI
DAL
DEN
GSW
HOU
LAC
LAL
MIA
MIL
MIN
BKN
NYK
ORL
IND
PHI
PHX
POR
SAC
SAS
OKC
TOR
UTA
MEM
WAS
DET
CHA

In [19]:
nba_teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [21]:
df_nbateams = pd.DataFrame(nba_teams)[['full_name', 'abbreviation', 'nickname', 'city', 'state']]

In [22]:
df_nbateams

,full_name,abbreviation,nickname,city,state
0,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia
1,Boston Celtics,BOS,Celtics,Boston,Massachusetts
2,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio
3,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana
4,Chicago Bulls,CHI,Bulls,Chicago,Illinois
5,Dallas Mavericks,DAL,Mavericks,Dallas,Texas
6,Denver Nuggets,DEN,Nuggets,Denver,Colorado
7,Golden State Warriors,GSW,Warriors,Golden State,California
8,Houston Rockets,HOU,Rockets,Houston,Texas
9,Los Angeles Clippers,LAC,Clippers,Los Angeles,California
10,Los Angeles Lakers,LAL,Lakers,Los Angeles,California
11,Miami Heat,MIA,Heat,Miami,Florida
12,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin
13,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota
14,Brooklyn Nets,BKN,Nets,Brooklyn,New York
15,New York Knicks,NYK,Knicks,New York,New York
16,Orlando Magic,ORL,Magic,Orlando,Florida
17,Indiana Pacers,IND,Pacers,Indiana,Indiana
18,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania
19,Phoenix Suns,PHX,Suns,Phoenix,Arizona
20,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon
21,Sacramento Kings,SAC,Kings,Sacramento,California
22,San Antonio Spurs,SAS,Spurs,San Antonio,Texas
23,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma
24,Toronto Raptors,TOR,Raptors,Toronto,Ontario
25,Utah Jazz,UTA,Jazz,Utah,Utah
26,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee
27,Washington Wizards,WAS,Wizards,Washington,District of Columbia
28,Detroit Pistons,DET,Pistons,Detroit,Michigan
29,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina

In [28]:
df_2024_all_stars = df[['Player','Team','Year']]
df_2024_all_stars.columns = df_2024_all_stars.columns.str.lower()

In [32]:
df_2024_all_stars = df_2024_all_stars.merge(df_nbateams, how='inner', left_on='team', right_on='full_name')

In [33]:
df_2024_all_stars[['player','team', 'year', 'abbreviation']]

                     player                    team  year abbreviation
0               Bam Adebayo              Miami Heat  2024          MIA
1     Giannis Antetokounmpo         Milwaukee Bucks  2024          MIL
2            Paolo Banchero           Orlando Magic  2024          ORL
3            Scottie Barnes         Toronto Raptors  2024          TOR
4              Devin Booker            Phoenix Suns  2024          PHX
5              Jaylen Brown          Boston Celtics  2024          BOS
6             Jalen Brunson         New York Knicks  2024          NYK
7             Stephen Curry   Golden State Warriors  2024          GSW
8             Anthony Davis      Los Angeles Lakers  2024          LAL
9               Luka Doncic        Dallas Mavericks  2024          DAL
10             Kevin Durant            Phoenix Suns  2024          PHX
11          Anthony Edwards  Minnesota Timberwolves  2024          MIN
12              Paul George    Los Angeles Clippers  2024          LAC
13  Shai Gilgeous-Alexander   Oklahoma City Thunder  2024          OKC
14        Tyrese Haliburton          Indiana Pacers  2024          IND
15             LeBron James      Los Angeles Lakers  2024          LAL
16             Nikola Jokic          Denver Nuggets  2024          DEN
17            Kawhi Leonard    Los Angeles Clippers  2024          LAC
18           Damian Lillard         Milwaukee Bucks  2024          MIL
19         Donovan Mitchell     Cleveland Cavaliers  2024          CLE
20            Julius Randle         New York Knicks  2024          NYK
21             Jayson Tatum          Boston Celtics  2024          BOS
22       Karl-Anthony Towns  Minnesota Timberwolves  2024          MIN
23               Trae Young           Atlanta Hawks  2024          ATL

In [61]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from nba_api.stats.static import teams

df_all_stars = pd.DataFrame()
for year in range(2014,2026):
    url = f"https://basketball.realgm.com/nba/allstar/game/rosters/{year}"

    # Get the page content
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find tables with the specific Bootstrap classes
    tables = soup.find_all('table', class_='table table-striped table-hover table-bordered table-compact table-nowrap')

    # Get the third Bootstrap table (the combined roster table)
    if len(tables) >= 3:
        third_table = tables[2]
        # Convert to DataFrame
        df_this_year = pd.read_html(str(third_table))[0]
        df_this_year['Year'] = year
        df_all_stars = pd.concat([df_all_stars, df_this_year], ignore_index=True)
    else:
        third_table = tables[1]
        # Convert to DataFrame
        df_this_year = pd.read_html(str(third_table))[0]
        df_this_year['Year'] = year
        df_all_stars = pd.concat([df_all_stars, df_this_year], ignore_index=True)

df_all_stars = df_all_stars[['Player','Team','Year']]
df_all_stars.columns = df_all_stars.columns.str.lower()

# Get list of all NBA teams
nba_teams = teams.get_teams()

# Join NBA teams with All-Stars
df_nbateams = pd.DataFrame(nba_teams)[['full_name', 'abbreviation', 'nickname', 'city', 'state']]
df_all_stars = df_all_stars.merge(df_nbateams, how='inner', left_on='team', right_on='full_name')
df_all_stars = df_all_stars[['player','team', 'year', 'abbreviation']]

/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]
/tmp/ipykernel_6869/82939855.py:27: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_this_year = pd.read_html(str(third_table))[0]

In [62]:
df_all_stars.year.value_counts().reset_index().sort_values(by='year')

    year  count
5   2014     25
0   2015     28
3   2016     26
6   2017     25
1   2018     27
7   2019     25
11  2020     23
9   2021     25
8   2022     25
2   2023     26
10  2024     24
4   2025     26

In [68]:
df_all_stars

                 player                    team  year abbreviation
0     LaMarcus Aldridge  Portland Trail Blazers  2014          POR
1       Carmelo Anthony         New York Knicks  2014          NYK
2            Chris Bosh              Miami Heat  2014          MIA
3           Kobe Bryant      Los Angeles Lakers  2014          LAL
4         Stephen Curry   Golden State Warriors  2014          GSW
..                  ...                     ...   ...          ...
300        Jayson Tatum          Boston Celtics  2025          BOS
301  Karl-Anthony Towns         New York Knicks  2025          NYK
302   Victor Wembanyama       San Antonio Spurs  2025          SAS
303      Jalen Williams   Oklahoma City Thunder  2025          OKC
304          Trae Young           Atlanta Hawks  2025          ATL

[305 rows x 4 columns]

In [120]:
from sqlalchemy import create_engine, text

# Create engine (file-backed SQLite)
engine = create_engine("sqlite:///analysis.db")

# Save DataFrame to table
df_all_stars.to_sql(
    "nba_all_stars_table",
    con=engine,
    if_exists="replace",
    index=False
)

# Run SQL and get DataFrame back
result = pd.read_sql_query(
    text("""
         
         WITH CTE AS (SELECT team, year, COUNT(*) AS total_all_stars
         FROM nba_all_stars_table
         GROUP BY team, year
         HAVING COUNT(*) >= 3)

         SELECT DISTINCT team, year, total_all_stars FROM CTE
         
         """),
    con=engine
)

result

                     team  year  total_all_stars
0           Atlanta Hawks  2015                4
1           Brooklyn Nets  2021                3
2     Cleveland Cavaliers  2017                3
3     Cleveland Cavaliers  2025                3
4   Golden State Warriors  2016                3
5   Golden State Warriors  2017                4
6   Golden State Warriors  2018                4
7   Golden State Warriors  2019                3
8   Golden State Warriors  2022                3
9              Miami Heat  2014                3
10              Utah Jazz  2021                3

In [121]:
result.merge(df_all_stars, how='inner', on=['team','year']).sort_values(by=['year','team'])

,team,year,total_all_stars,player,abbreviation
30,Miami Heat,2014,3,Chris Bosh,MIA
31,Miami Heat,2014,3,LeBron James,MIA
32,Miami Heat,2014,3,Dwyane Wade,MIA
0,Atlanta Hawks,2015,4,Al Horford,ATL
1,Atlanta Hawks,2015,4,Kyle Korver,ATL
2,Atlanta Hawks,2015,4,Paul Millsap,ATL
3,Atlanta Hawks,2015,4,Jeff Teague,ATL
13,Golden State Warriors,2016,3,Stephen Curry,GSW
14,Golden State Warriors,2016,3,Draymond Green,GSW
15,Golden State Warriors,2016,3,Klay Thompson,GSW
7,Cleveland Cavaliers,2017,3,Kyrie Irving,CLE
8,Cleveland Cavaliers,2017,3,LeBron James,CLE
9,Cleveland Cavaliers,2017,3,Kevin Love,CLE
16,Golden State Warriors,2017,4,Stephen Curry,GSW
17,Golden State Warriors,2017,4,Kevin Durant,GSW
18,Golden State Warriors,2017,4,Draymond Green,GSW
19,Golden State Warriors,2017,4,Klay Thompson,GSW
20,Golden State Warriors,2018,4,Stephen Curry,GSW
21,Golden State Warriors,2018,4,Kevin Durant,GSW
22,Golden State Warriors,2018,4,Draymond Green,GSW
23,Golden State Warriors,2018,4,Klay Thompson,GSW
24,Golden State Warriors,2019,3,Stephen Curry,GSW
25,Golden State Warriors,2019,3,Kevin Durant,GSW
26,Golden State Warriors,2019,3,Klay Thompson,GSW
4,Brooklyn Nets,2021,3,Kevin Durant,BKN
5,Brooklyn Nets,2021,3,James Harden,BKN
6,Brooklyn Nets,2021,3,Kyrie Irving,BKN
33,Utah Jazz,2021,3,Mike Conley,UTA
34,Utah Jazz,2021,3,Rudy Gobert,UTA
35,Utah Jazz,2021,3,Donovan Mitchell,UTA
27,Golden State Warriors,2022,3,Stephen Curry,GSW
28,Golden State Warriors,2022,3,Draymond Green,GSW
29,Golden State Warriors,2022,3,Andrew Wiggins,GSW
10,Cleveland Cavaliers,2025,3,Darius Garland,CLE
11,Cleveland Cavaliers,2025,3,Donovan Mitchell,CLE
12,Cleveland Cavaliers,2025,3,Evan Mobley,CLE